# Probability

Open in Google Colab: [![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/febse/stat2024/blob/main/03-Probability.ipynb)


Let us start with the definition of probability. We will return to it later in much more detail.

:::{#def-probability}
## Probability

A probability law is a function that assigns a number between 0 and 1 to each (measurable) event in the sample space. Let $\Omega$ be a non-empty set and
let $A$ and $B$ be subsets of $\Omega$. A probability law must satisfy the following properties:

1. $P(A) \geq 0$ for all $A \subseteq \Omega$ (all events have non-negative probability).
2. $P(\emptyset) = 0$. (The probability of the empty set is 0).
3. $P(\Omega) = 1$. (The probability of the entire sample space is 1).
4. If $A$ and $B$ are disjoint, i.e. $A \cap B = \emptyset$, then $P(A \cup B) = P(A) + P(B)$.

:::

In the following, we will discuss the key terms in the definition of probability.

In [43]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [48]:
beer = pd.DataFrame({
    "Bottle": np.arange(1, 11),
    "Prize": [0, 0, 0, 0, 0, 0, 0, 0, 1, 1]
})
beer

   Bottle  Prize
0       1      0
1       2      0
2       3      0
3       4      0
4       5      0
5       6      0
6       7      0
7       8      0
8       9      1
9      10      1

In [47]:
beer.sample(n=1)

   BottleNumber  Prize
1             2      0

In [80]:
samples = beer.sample(n=10_000, replace=True)
samples["Prize"].sum()

np.int64(1991)

## The sample space and probability law of a fair coin toss

You take two identical coins and toss them simultaneously. We want to describe the possible outcomes of this experiment and assign probabilities to each outcome.

- Write down all possible outcomes of two tosses of a fair coin, using H for heads and T for tails.
- Write down a probability law for this experiment

In [ ]:
np.random.choice(['Heads', 'Tails'], size=2)

array(['Tails', 'Heads'], dtype='<U5')


## Sets

As you can see the definition of probability heavily relies on the concept of sets. A set is a collection of distinct objects, considered as an object in its own right. We will use capital letters to denote sets, and the elements of a set will be denoted by lowercase letters.

There are a couple of important set operations that we will use in the context of probability:

1. **Union**: The union of two sets $A$ and $B$ is the set of elements that are in $A$, in $B$, or in both. The union of $A$ and $B$ is denoted by $A \cup B$.
2. **Intersection**: The intersection of two sets $A$ and $B$ is the set of elements that are in both $A$ and $B$. The intersection of $A$ and $B$ is denoted by $A \cap B$.
3. **Complement**: The complement of a set $A$ is the set of elements that are not in $A$. The complement of $A$ is denoted by $A^c$ (or sometimes $\bar{A}$).
4. **Difference**: The difference of two sets $A$ and $B$ is the set of elements that are in $A$ but not in $B$. The difference of $A$ and $B$ is denoted by $A \setminus B$.

:::{#def-emptyset}
## The Empty Set

The empty set is a special set that contains no elements. It is denoted by $\emptyset$ or $\{\}$.

:::

:::{#def-disjoint}
## Disjoint sets

Two sets are called disjoint if their intersection is the empty set, i.e. $A \cap B = \emptyset$. This means that the sets do not have any elements in common.

:::


The union and intersection of sets are _commutative_ and _distributive_. Commutative means that you can change the order of the sets without changing the result.

- $A \cup B = B \cup A$.
- $A \cap B = B \cap A$.

Distributive means that you can distribute the union or intersection over the other set.

- $A \cup (B \cap C) = (A \cup B) \cap (A \cup C)$.
- $A \cap (B \cup C) = (A \cap B) \cup (A \cap C)$.

:::{#thm-de-morgan}
## De Morgan's Laws

De Morgan's laws are a pair of rules that relate the complement of the union and the intersection of sets.

1. The complement of the union of two sets is the intersection of their complements: $(A \cup B)^c = A^c \cap B^c$.
2. The complement of the intersection of two sets is the union of their complements: $(A \cap B)^c = A^c \cup B^c$.

This also generalizes to more than two sets.

Let $A_1$, $A_2$, $\ldots$, $A_n$ be a collection of sets.

1. The complement of the union of the sets is the intersection of their complements: 

$$
\left(\bigcup_{i=1}^n A_i\right)^c = \bigcap_{i=1}^n A_i^c
$$.

2. The complement of the intersection of the sets is the union of their complements:

$$
\left(\bigcap_{i=1}^n A_i\right)^c = \bigcup_{i=1}^n A_i^c
$$.

In the case of only three sets $A_1$, $A_2$, and $A_3$, the laws can be written as:

1. $(A_1 \cup A_2 \cup A_3)^c = A_1^c \cap A_2^c \cap A_3^c$.
2. $(A_1 \cap A_2 \cap A_3)^c = A_1^c \cup A_2^c \cup A_3^c$.

:::

:::{#exr-de-morgan}
## De Morgan's Laws

Assume that a class consists of the following students:

- Students enrolled in the mathematics course: $A = \{Maria, Elena, Simeon, Rada, Steli\}$
- Students enrolled in the statistics course: $B = \{Peter, Pavel, Simeon, Rada\}$

- Write down the complements of $A$ and $B$ and the intersection of $A$ and $B$. 
- Then, write down the union of $A$ and $B$ and its complement. Describe these sets in words.

:::

## Some Properties of Probability Laws


Probability of the Union of Two Events

$$
P(A \cup B) = P(A) + P(B) - P(A \cap B)
$$

The probability of an event is one minus the probability of the complement of the event.

$$
P(A) = 1 - P(A^c)
$$

## Exercise 

A consumer survey indicates that 10 out of 100 customers in the store will buy an iPhone, another 20 percent will buy an Android phone, and 5 percent will buy both products.

- What is the probability that a randomly selected customer will buy neither an iPhone nor an Android phone?
- What is the probability that a randomly selected customer will buy _exactly_ one of the products?


## Events and Probability

An event is a subset of the sample space. For example, if you are flipping a coin, the event of getting heads is the subset $\{H\}$ of the sample space $\{H, T\}$. If you are rolling a die, the event of getting an even number is the subset $\{2, 4, 6\}$ of the sample space $\{1, 2, 3, 4, 5, 6\}$.

In experiments with a **finite number of equally likely outcomes**, the probability of an event is the number of outcomes in the event divided by the total number of outcomes in the sample space. For example, the probability of getting heads when flipping a coin is $1/2$ because there is one outcome in the event $\{H\}$ and two outcomes in the sample space $\{H, T\}$. The probability of getting an even number when rolling a die is $3/6 = 1/2$ because there are three outcomes in the event $\{2, 4, 6\}$ and six outcomes in the sample space $\{1, 2, 3, 4, 5, 6\}$.


$$
P(A) = \frac{\text{number of elements in } A}{\text{number of elements in the sample space}}
$$

:::{#exr-sample-space-coin}
## The Sample Space of Three Coin Flips

Consider an experiment of flipping a coin three times (each toss can result either in a head (H) or in a tail (T) ). 

- Write down the sample space of the experiment.
- Write down the set $A$ consisting of all outcomes where the first flip is a head.
- Write down the set $B$ consisting of all outcomes where the number of heads is even.
- Assume that the coin is fair and that all outcomes are equally likely. What are the probabilities of the events $A$ and $B$?
:::

In [28]:
# A coin flipping game

# Here we simulate the result of 3 coin flips repeated 10 times (1 for heads, 0 for tails)
# np.random.choice selects a value at random from the given list
# The size specifies the number of times the selection is made
# In our case, we are selecting 3 values 10 times and storing the results in coin_3flips_df

coin_3flips = np.random.choice([1, 0], size=[10, 3])
coin_3flips_df = pd.DataFrame(coin_3flips, columns=['Flip1', 'Flip2', 'Flip3'])
coin_3flips_df

   Flip1  Flip2  Flip3
0      1      0      1
1      1      1      0
2      0      1      1
3      1      1      1
4      0      1      1
5      0      0      1
6      1      0      1
7      1      1      1
8      1      0      1
9      1      1      0

In [29]:
# The _number_ of games where the _first_ coin landed on heads (1) in each of the 10 game

coin_3flips_df["Flip1"].sum()

np.int64(7)

In [30]:
# The _proportion_ of games where the number of heads in each game is even

coin_3flips_df['TotalHeads'] = coin_3flips_df.sum(axis=1)
coin_3flips_df['EvenHeads'] = (coin_3flips_df['TotalHeads'] % 2 == 0)
coin_3flips_df['EvenHeads'].mean()

np.float64(0.7)

In [31]:
coin_3flips_df

   Flip1  Flip2  Flip3  TotalHeads  EvenHeads
0      1      0      1           2       True
1      1      1      0           2       True
2      0      1      1           2       True
3      1      1      1           3      False
4      0      1      1           2       True
5      0      0      1           1      False
6      1      0      1           2       True
7      1      1      1           3      False
8      1      0      1           2       True
9      1      1      0           2       True

:::{#exr-sample-space-die}
## The Sample Space of Two Die Rolls

Consider an experiment of rolling a four sided die twice.

![Four sided die](https://upload.wikimedia.org/wikipedia/commons/8/80/Dald%C3%B8s_dice.jpg){style="width:300px"}

- Write down the sample space of the experiment.
- How many outcomes are in the sample space?
- Write down the set (event) $A$ consisting of all outcomes where the sum of the two rolls is 7.
- Write down the set (event) $B$ consisting of all outcomes where the sum of the two rolls is odd.
- Write down the set (event) $C$ consisting of all outcomes where the first roll is greater than the second roll.
- Write down the set (event) $D$ consisting of all outcomes where the two rolls are the same.

Assume that the die is fair and that all outcomes are equally likely. 
- What are the probability of the events $A$ and $B$: $P(A)$ and $P(B)$?
- What is the probability of the event $A \cap B$?
- What is the probability of the event $A \cup B$?
- What is the probability of the event $A^c$?
- What is the probability of the event $A \cap C$?

:::

:::{.callout-note collapse="true"}
## Solution (click to expand)

The size of the sample space is $4^2 = 16$. The sample space is

$$
\Omega = \left\{
    \begin{array}{cccc}
    (1, 1), (2, 1), (3, 1), (4, 1), \\
    (1, 2), (2, 2), (3, 2), (4, 2), \\
    (1, 3), (2, 3), (3, 3), (4, 3), \\
    (1, 4), (2, 4), (3, 4), (4, 4)
    \end{array}
\right\}
$$

The event $A$ consists of the outcomes $\{(3, 4), (4, 3)\}$. It has two elements, so assuming that each sequence in the sample space is equally likely, the probability of $A$ is $2/16 = 1/8$.

The event $B$ consists of the outcomes $\{(1, 2), (2, 1), (4, 1), (1, 4), (3, 4), (4, 3)\}$. It has six elements, so the probability of $B$ is $6/16 = 3/8$.

The event $C$ consists of the outcomes $\{(2, 1), (3, 1), (4, 1), (3, 2), (4, 2), (4, 3)\}$. It has six elements, so the probability of $C$ is $6/16 = 3/8$.

The event $A \cap B$ consists of the outcomes $\{(3, 4), (4, 3)\}$, so the probability of $A \cap B$ is $2/16 = 1/8$. It is the same as the probability of $A$ because a is a subset of $B$ ($A \subset B$).

The event $A^c$ consists of $\Omega \ A$. Its probability is $P(A^c) = 1 - P(A) = 7/8$.
The event $A \cap C$ consists of only one outcome $\{(3, 4)\}$ (which is common to $A$ and $C$), so the probability of $A \cap C$ is $1/16$.

:::

In [32]:
# Simulation of 10 rolls of a four-sided die

die_rolls = np.random.choice([1, 2, 3, 4], size=[10, 2])
die_rolls

array([[4, 2],
       [2, 2],
       [1, 1],
       [1, 3],
       [3, 1],
       [2, 1],
       [1, 2],
       [4, 4],
       [3, 1],
       [2, 1]])

In [33]:
die_rolls_dt = pd.DataFrame(die_rolls, columns=['Die1', 'Die2'])
die_rolls_dt

   Die1  Die2
0     4     2
1     2     2
2     1     1
3     1     3
4     3     1
5     2     1
6     1     2
7     4     4
8     3     1
9     2     1

In [34]:
die_rolls_dt["GameSum"] = die_rolls_dt["Die1"] + die_rolls_dt["Die2"]
die_rolls_dt

   Die1  Die2  GameSum
0     4     2        6
1     2     2        4
2     1     1        2
3     1     3        4
4     3     1        4
5     2     1        3
6     1     2        3
7     4     4        8
8     3     1        4
9     2     1        3

In [35]:
# Event A: sum of the two rolls is greater than 7
# - we can sum the values in each row to get the total of the two rolls: this is what die_rolls.sum(axis=1). The axes in the arrays are indexed: 0 for rows and 1 for columns
# - The == operator checks if the sum is equal to 7 and returns a boolean array (True and False)

die_rolls_dt["SumGreater7"] = (die_rolls_dt["GameSum"] > 7)
die_rolls_dt

   Die1  Die2  GameSum  SumGreater7
0     4     2        6        False
1     2     2        4        False
2     1     1        2        False
3     1     3        4        False
4     3     1        4        False
5     2     1        3        False
6     1     2        3        False
7     4     4        8         True
8     3     1        4        False
9     2     1        3        False

In [37]:
die_rolls_dt["SumGreater7"].sum()

np.int64(1)

In [38]:
# Event B: sum of the two rolls is odd (the != operator checks for inequality)
# - as in the previous cell, we sum the values in each row to get the total of the two rolls
# - % is the modulo operator. If the sum is even, the modulo of 2 will be 0, and if it is odd, the modulo will be 1
# - the != operator checks if the modulo is different from zero and returns a boolean array (True and False)

In [39]:
# Event C: first roll is greater than the second roll.
# - the square brackets after the array are used to select parts of the array. The : operator selects all the elements in the array (in this case, all the rows)
# - after a comma we can specify the column we want to select. The first column has index 0 and the second column has index 1
# - the > operator checks if the value in the first column is greater than the value in the second column and returns a boolean array (True and False)

die_rolls_dt["Die1GreaterDie2"] = die_rolls_dt["Die1"] > die_rolls_dt["Die2"]
die_rolls_dt

   Die1  Die2  GameSum  SumGreater7  Die1GreaterDie2
0     4     2        6        False             True
1     2     2        4        False            False
2     1     1        2        False            False
3     1     3        4        False            False
4     3     1        4        False             True
5     2     1        3        False             True
6     1     2        3        False            False
7     4     4        8         True            False
8     3     1        4        False             True
9     2     1        3        False             True

In [40]:
# Event D: $D$ the two rolls are the same.
# Exactly as before, but here we check for equality using the == operator

die_rolls_dt["Die1EqualsDie2"] = die_rolls_dt["Die1"] == die_rolls_dt["Die2"]
die_rolls_dt

   Die1  Die2  GameSum  SumGreater7  Die1GreaterDie2  Die1EqualsDie2
0     4     2        6        False             True           False
1     2     2        4        False            False            True
2     1     1        2        False            False            True
3     1     3        4        False            False           False
4     3     1        4        False             True           False
5     2     1        3        False             True           False
6     1     2        3        False            False           False
7     4     4        8         True            False            True
8     3     1        4        False             True           False
9     2     1        3        False             True           False

In [42]:
# The intersection of A and B (A and B occurring together)
# - The & operator is used to combine two boolean arrays. It returns a new boolean array where the value is True only if both arrays have True in the same position

die_rolls_dt["BothEvents"] = die_rolls_dt["SumGreater7"] & die_rolls_dt["Die1GreaterDie2"]
die_rolls_dt

,Die1,Die2,GameSum,SumGreater7,Die1GreaterDie2,Die1EqualsDie2,BothEvents
0,4,2,6,False,True,False,False
1,2,2,4,False,False,True,False
2,1,1,2,False,False,True,False
3,1,3,4,False,False,False,False
4,3,1,4,False,True,False,False
5,2,1,3,False,True,False,False
6,1,2,3,False,False,False,False
7,4,4,8,True,False,True,False
8,3,1,4,False,True,False,False
9,2,1,3,False,True,False,False

## Exercises


:::{#exr-racing}
## Racing Cars and Betting

Consider a car race with 6 cars. You believe that the probability of winning is equal for the first three cars, and the probabilities of winning for cars 4, 5, and 6 are equal to 1/7. You must place a bet on one of the following two events:

- One of cars 1, 2, or 5 wins
- One of cars 3, 5, or 6 wins

Which event would you bet on? Justify your answer. The reward is the same for both events.

:::


:::{#exr-dice-rolls-until-4}
## Dice Rolls Until 2

You take a four-sided die and roll it until you get a 2. Describe the sample space of the experiment.

:::

:::{#exr-probability-model}
## Probability Model

You are given a loaded four-sided die. The even numbers are twice as likely as the odd numbers, but the 
each even number is equally likely and each odd number is equally likely. Construct a probability model for this die.

:::